h1{
	text-align: center;
	margin:auto;
	font-family: fantasy;
	font-size: 200%;
}

p{
	text-align: center;
	margin: auto;
	font-family: fantasy;
	font-size: 150%;
}

body{
	background-color: cadetblue;
}

.clear{
	text-align: center;
	background-color: beige;
	padding: 10px;
	margin: 25px;
	width: 10%;
	transform:  translateX(375%);
}

.block{
	background-color: beige;
	padding-top: 20px;
	padding-bottom: 20px;
	margin: 25px;
	width: 50%;
	transform:  translateX(50%);
}

#bg-right {
	background-color:rgb(211, 190, 190);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 90%;
	right: 0;
	z-index: -1;
  }

#bg-left {
	background-color:rgb(211, 190, 190);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 90%;
	z-index: -1;
  }

table, td, th {
	border:  1px solid black;
	margin: auto;
	background-color: white;
}

td{
	padding-left: 10px;
	padding-right: 10px;
}

th {
	min-width: 400px;
	padding-left: 10px;
	padding-right: 10px;
}

.checkbox {
	text-align:  center;
}

.task {
	padding-left: 5px;
	padding-right:  5px;
}

a {
	color: black;
	text-decoration:  none;
}

.priority5 {
	background-color: red;
}

.priority4 {
	background-color: orange;
}

.priority3 {
	background-color: yellow;
}

.priority2 {
	background-color: lightgreen;
}

.priority1 {
	background-color: lightblue;
}