<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Flask Home Page</title>
</head>
<body>
	<h1>Home Page</h1>
	<p>This is being tested as part of project 3</p>
    <form action="/add" method="post">
    	<div>
    		<label for="title">New Item</label>
    		<input type="text" name="new_todo" placeholder="New Task"><br>

    		<input type="radio" name="priority" value="1" checked>
			<label for="1">1</label>
			<input type="radio" name="priority" value="2">
			<label for="2">2</label>
			<input type="radio" name="priority" value="3">
			<label for="3">3</label>
			<input type="radio" name="priority" value="4">
			<label for="4">4</label>
			<input type="radio" name="priority" value="5">
			<label for="5">5</label><br>

    		<button type="submit">Add</button>
    	</div>
    </form>

	<table>
		{% for i,(task_name, data) in enumerated_todo_list %}
			<tr> 
				<td><a href="/up/{{i}}">up</a></td>
				<td><a href="/down/{{i}}">down</a></td>
				{% if data["check"] %}
					<td><a href="/toggle_check/{{i}}">x</a></td>
				{% else %}
					<td><a href="/toggle_check/{{i}}">o</a></td>
				{% endif %}
				<td>{{task_name}}</td>
				<td><a href="/remove/{{i}}">remove</a></td>
			</tr>
		{% endfor %}
	</table>

	<footer>
	</footer>
</body>